@import url("./palette.css");
.imageholder{
    background-color: navy;
    border-radius: 50%;
    
}
.imageholder img{
    border-radius: 50%;
}
#container{
    background-color: var(--dark-gray);
    height: 100%;
    min-width: 414px;
    min-height: 896px;
}